.custom-logo-link img {
  max-height: 72px;
  width: 100%;
  margin: 0 auto 0 0.5rem;
}

#menu-primary, .navbar-toggler {
  margin: 0 0.5rem 0 auto;
}

.navbar {
  margin-bottom: -24px;
}

.navbar-home {
  margin-bottom: -112px !important;
  z-index: 999;
}

.nav-link {
  background-color: red;
  border-radius: 20px;
  margin-left: 5px;
}

@media only screen and (min-width: 600px) {
  .custom-logo-link img {
    margin: 0 auto 0 3rem;
  }

  #menu-primary {
    margin: 0 3rem 0 auto;
  }
}

@media only screen and (min-width: 768px) {

}